<div class="wrapper">
  <div class="container">
    <div class="column wide">
			{% for post in site.posts %}
			{% if post.category == page.category %}
			<div class="post">
        <div class="datebox">{{ post.date | date_to_long_string }}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;{% for author in site.data.authors %}{% if author.name == post.author %}<a href="{{ author.url }}">{{ author.full_name }}</a>{% endif %}{% endfor %}</div>
        <h2 class="no-margin-top"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </div>
			{% endif %}
      {% endfor %}
    </div>
    <div class="column narrow">{% include blog/sidebar.html %}</div>
  </div>
</div>
