
/* basic structure */

html, body {
	background-color: #4C5371; /* same color as header and footer */
	height: 100%; /* required to make footer look nice */
	padding: 0;
	margin: 0;
}

body {
	font-size: 18px;
	font-weight: 400;
	font-family: "myriad-pro", "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}

/* responsive container */

.container {padding: 0 15px; margin: 0 auto}

@media (min-width: 768px) {.container {width: 750px}}

@media (min-width: 992px) {
  .container				  {width: 970px}
	.container.narrow 	{width: 970px}
	.container.narrower {width: 750px}
}

@media (min-width: 1200px) {
  .container				  {width: 1170px}
	.container.narrow   {width: 970px}
	.container.narrower {width: 750px}
}

.row {margin: 0} /* overwrite default */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2,
.col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4,
.col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6,
.col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
.col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12,
.col-lg-12 { padding: 0; } /* overwrite default in bootstrap.css */

/* Homepage */

.homepage h1 {
	font-size: 65px;
	font-weight: 300;
}

.homepage h2 {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin: 0 auto; /* both text-align and margin are required */
	width: 65%;
}

.homepage h2.separator {
	margin: 30px auto;
}

.homepage p {
  font-size: 25px;
  font-weight: 300;
}

.homepage .row {margin-bottom: 30px;}

.homepage .bigbox {
	margin: 0;
	padding: 60px;
  background-color: #D2D4DB;
	border-radius: 5px;
	text-align: center;
	max-width: 100%;
}

.homepage .bixbog p {
	margin: 0 auto 30px auto;
	width: 90%;
}

.homepage .users-logobox .logo {display: inline-block;}

.homepage .users-logobox .logo img {height: 100px; }

.homepage .users-mugshot {
	padding: 15px 15px 0 15px;
	float: left;
	width: 15%;
}

.homepage .users-oneliner {
	padding: 0 15px;
	float: left;
	width: 85%
}

.homepage .users-oneliner cite {
	font-size: 18px;
	font-weight: 400;
	padding-left: 30px;
}





@media (max-width: 1199px) {
	.bixbog {padding: 45px;}
	.homepage h1 {font-size: 50px;}
	.homepage p {font-size: 20px;}
}
@media (max-width: 991px) {
	.bigbox {padding: 30px;}
	.homepage h1 {font-size: 45px;}
	.homepage p {font-size: 18px;}
}
@media (max-width: 767px) {
	.bigbox {padding: 30px;}
	.homepage h1 {font-size: 45px;}
	.homepage p {font-size: 18px;}
}

.homepage .users-logobox {
	text-align: center;
	width: 100%;
}



a.cta {
	text-transform: uppercase;
	text-align: center;
}

a.cta:after {
	content: " ➙";
}









/* Headers */

.h1, h1 {
	font-size: 50px;
	font-weight: 300;
	margin: 0 0 30px 0;
	padding: 0;
	letter-spacing: -2px;
}

h1 > a, h1 > a:hover,
h1 > a, h1 > a:focus {
	text-decoration: none;
}

.h2, h2 {
	font-size: 25px;
	font-weight: 400;
	margin: 0 0 15px 0;
	padding: 0;
	letter-spacing: -1px;
}

p {
	margin: 0 0 15px 0;
	-webkit-font-smoothing: antialiased;
}

/* Images  */

img {
	display: block;
	height: auto;
	max-width: 100%; /* responsive by default */
}

/* Blog */

.blog .datebox,
.blog .datebox > a,
.blog .datebox > a:hover {
	color: #797F94;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.blog > h1 { width: 80%; }

/* We love smart quotes */

q { quotes: "“" "”" "‘" "’"; }

q:before { content: open-quote; }
q:after { content: close-quote; }

#cookie-law {
	font-size: 15px;
	background-color: #D2D4DB;
	padding: 10px;
	margin: 0;
}

/* call to action */

.cta-button {
	font-size: 15px;
  font-weight: 400;
  padding: 15px 12px;
  border: 1px solid transparent; /* overwrite defaults */
  border-radius: 5px;
  text-transform: uppercase;
	display: inline-block;
	user-select: none;
}

.cta-button.green {color: white; background-color: #5CB85C}
.cta-button.gray {color: #333; background-color: #D2D4DB}
