
/* basic structure */

main {
	min-height: 500px; /* prevent pages from looking ridiculous */
	background-color: white;
	padding: 0;
}

/* wrappers */

main .wrapper {padding: 60px 0}
main .wrapper.shaded {background-color: rgb(240,240,240)}

/* custom text */

main h1 {text-align: center}

main.custom h2 {
	margin: 60px auto;
	text-align: center;
	font-weight: 300;
  font-size: 40px;
  width: 65%
}

main.custom h2:first-child {margin-top: 0}

main.custom h3 {
	margin: 30px auto;
	text-align: center;
	font-weight: 400;
  font-size: 25px;
}

main.custom h3:first-child {margin-top: 0}

main.custom p,
main.custom ol,
main.custom ul {margin: 0 0 15px 0}

main.custom p:last-child,
main.custom ol:last-child,
main.custom ul:last-child {margin-bottom: 0}

/* Homepage */

main.custom .users-logobox .logo {display: inline-block;}

main.custom .users-logobox .logo img {height: 100px; }

main.custom .users-mugshot {
	padding: 15px 15px 0 15px;
	float: left;
	width: 15%;
}

main.custom .users-oneliner {
	padding: 0 15px;
	float: left;
	width: 85%
}

main.custom .users-oneliner cite {
	font-size: 18px;
	font-weight: 400;
	padding-left: 30px;
}

main.custom .users-logobox {
	text-align: center;
	width: 100%;
}

/* table */

table.plans {width: 100%; max-width: 100%}

table.plans th {
	background-color: rgb(240,240,240);
	text-transform: uppercase;
	padding: 12px
}

table.plans th.product {width: 61%}

@media (max-width: 1199px) {table.plans th.product {width: 58%}}
@media (max-width: 991px) {table.plans th.product {width: 49%}}

table.plans td {padding: 10px}

table.plans td.subplan {
	padding-left: 24px;
	font-size: 16px
}

table.plans tr.shaded {background-color: rgb(247,247,247)}

/* code */

.highlight pre, pre, .highlight .hll {
	background-color: rgb(240,240,240);
	border-radius: 5px;
	border-width: 0px;
	font-size: 12px;
	padding: 12px 15px;
}

code {
	background-color: rgb(240,240,240);
	font-size: 15px;
	padding: 4px 3px;
	border-radius: 4px;
	color: #333;
}

p {line-height: 1.45}

.breadcrumb {
    border-radius: 0;
}

/* blog */

.datebox {
	margin-bottom: 30px;
	text-align: center
}

.datebox,
.datebox > a,
.datebox > a:hover {
	color: #797F94;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.continue {text-align: center; margin-top: 15px}

/* the big box */

.box {
	background-color: rgb(248,248,248);
	border-radius: 5px;
	float: left;
	width: 100%;
}

.box							{margin-bottom: 45px}
.box:last-of-type {margin-bottom: 0}

@media (min-width: 768px) {.box-text.half {float: left; width: 50%}}

.box-header {
	text-transform: uppercase;
	background-color: rgb(240,240,240);
	border-radius: 5px 5px 0 0;
	padding: 12px 15px;
	font-weight: 400;
	font-size: 18px;
}

.box-text {
	border-radius: 0 0 5px 5px;
	padding: 12px 15px;
}

.box-text ul {
	text-transform: uppercase;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

.box-text li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.box-text li:after {
	display: inline-block;
	color: #337ab7;
	margin: 0 5px;
	content: '❯';
}

.box-text li a {
    color: #337ab7;
}

.box-text li {
    margin: 12px 0 12px 15px;
}
.box a:hover, .box a:focus { text-decoration: none; }
