
/* basic structure */

main {
	min-height: 500px; /* prevent pages from looking ridiculous */
	background-color: #FFFFFF;
	padding: 0;
}

main.custom h2 {
	margin: 60px auto;
	text-align: center;
	font-weight: 300;
  font-size: 40px;
  width: 65%
}

main.custom h2:first-child {margin-top: 0}

main.custom h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 30px auto;
}

main        .wrapper {padding: 60px 0}
main.custom .wrapper {padding: 90px 0}

main .wrapper        {background-color: #FFFFFF}
main .wrapper.shaded {background-color: #EFEFEF}
