
/* basic structure */

header {padding: 15px 0}
header.custom {padding-bottom: 0}

header .brand, header .logo, header .name {float: left}
header nav {float: right}

header .wrapper {margin: 90px 0}
header .wrapper.title {margin: 60px 0 30px 0}

/* text */

header {font-weight: 300; font-size: 15px; color: white}

header a, header a:hover, header a:focus {
	text-decoration: none;
	color: white
}

/* brand */

header .logo img {height: 51px}

header .name { /* make snowplow as large as possible */
	text-transform: uppercase;
	letter-spacing: -1px;
	margin-left: 15px;
	font-weight: 300;
	font-size: 36px
}

@media (max-width: 991px) {header .name {display: none}}

/* collapsable menu on mobile */

@media (min-width: 768px) {header .toggle {display: none}} /* hide toggle on larger screens */

header .collapse    {display: none}
header .collapse.in {display: block}

.nav-collapse    {overflow-x: visible; -webkit-overflow-scrolling: touch}
.nav-collapse.in {overflow-y: auto}

@media (min-width: 768px) {.nav-collapse.collapse {display: block !important}}

/* menu */

header .nav-collapse {text-align: right} /* for the vertical menu */

header .nav-collapse ul {margin: 15px 0}

header .nav-collapse li {
	display : inline-block;
	margin-left: 6px
}

header .nav-collapse li a {
	border: 2px solid;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 15px 12px
}

header .nav-collapse li        a.with-border {font-weight: 400}
header .nav-collapse li        a.with-border {border-color: rgba(121,127,148,0.3)}
header .nav-collapse li.active a.with-border {border-color: transparent}

header .nav-collapse li a.without-border {border-color: transparent}

header .nav-collapse .active a,
header .nav-collapse .active a:hover,
header .nav-collapse .active a:focus,
header .nav-collapse li      a:hover,
header .nav-collapse li      a:focus {
	background-color: rgba(121,127,148,0.3);
	border-color: transparent
}

/* mobile menu */

@media (max-width: 767px) {

	header .toggle {text-align: right} /* hack */

	header .toggle-menu {
		text-transform: uppercase;
		background-color: transparent;
		border: 2px solid rgba(121,127,148,0.3);
		border-radius: 5px;
		padding: 15px 12px
	}

	header .toggle-menu:hover, header .toggle-menu:focus {
		background-color: rgba(121,127,148,0.3);
		border: 2px solid transparent
	}

	header .nav-collapse li {
		list-style: none;
		position: relative;
		padding: 15px 12px;
		margin-right: 0;
		margin-top: 5px;
  	display: block;
	}

}

/* bigbox */

header .bigbox {text-align: center; margin: 0}

header .bigbox h1 {
	margin-bottom: 60px;
	font-weight: 300;
	font-size: 65px
}

header .bigbox h2 {
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 30px
}

header .bigbox p {
	margin: 0 auto 30px auto;
	font-size: 25px;
	width: 90%
}

/* TEMP */

header .wrapper.title h1 {margin: 0}

header .breadcrumb {
  padding: 15px 0;
  background-color: rgba(121,127,148,0.3);
  margin: 0
}

/* pricing plans */

header .plans {margin: 0 auto}

header .plan {
	width: 32%;
	padding: 30px 15px;
	border-radius: 5px;
	float: left
}

header .plan.batch,
header .plan.real-time {margin-left: 2%}

header .plan {
	background-color: rgba(121,127,148,0.3);
	text-transform: uppercase;
	text-align: center
}

header .plan-name {font-weight: 400; font-size: 25px}

header .plan-price {padding: 10px 0}
header .plan-price {font-weight: 300; font-size: 60px}
header .plan-price .per-month {font-size: 20px}
header .plan-price sup {font-size: 30px}

header .plan-details {font-weight: 400; font-size: 15px; min-height: 150px}
header .plan-detail {margin-top: 5px; color: #A5A9B9}
header .plan-detail.white {color: white}

header .plan-cta {margin-top: 10px}

@media (max-width: 991px) { /* responsive pricing plans */

	header .plan.batch,
	header .plan.real-time {margin: 15px auto 0 auto}

	header .plan {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		float: none
	}

	header .plan-details {min-height: 20px}

}

/* signup forms */

.snplw-form-horizontal {margin: 0 auto; width: 90%}

.snplw-form-group {margin-bottom: 15px}

.snplw-form-control {
	width: 100%;
  padding: 15px 12px;
	background-color: rgba(121,127,148,0.3);
  border: 0px solid transparent;
	border-radius: 5px;
	font-size: 18px
}

select.snplw-form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

::-webkit-input-placeholder {color: white}
::-moz-placeholder {color: white}
:-moz-placeholder {color: white}
:-ms-input-placeholder {color: white}

.help-inline {
	margin: 15px 0 0 15px;
	font-size: 18px
}

.submission-successful {
	margin-top: 15px;
  text-align: center;
	font-weight: 400;
  font-size: 18px
}
