
/* snowplow-header.css */

/* basic structure */

header {background-color: #4C5371; padding: 15px 0}

header.custom {
	background-image: url('/assets/themes/snowplow/img/world.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 50vh;
}

header .brand, header .logo, header .name {float: left}

header nav {float: right}

header .custom-content {margin: 90px 0 75px 0}

/* text */

header {font-weight: 300; font-size: 15px; color: white}

header a, header a:hover, header a:focus {
	text-decoration: none;
	color: white;
}

/* brand */

header .logo {
	margin-top: -7px;
	margin-bottom: -7px;
}

header .logo img {height: 65px}

header .name { /* the snowplow name */
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: 300;
	font-size: 36px; /* largest possible size */
	color: white;
	margin-left: 15px;
}

/* collapsable menu on mobile */

@media (min-width: 992px) {header .toggle {display: none}} /* hide toggle on larger screens */

header .collapse {display: none}

header .collapse.in {display: block}

.nav-collapse {overflow-x: visible; -webkit-overflow-scrolling: touch}

.nav-collapse.in {overflow-y: auto}

@media (min-width: 992px) {.nav-collapse.collapse {display: block !important}}

/* menu */

header .nav-collapse {text-align: right} /* for the vertical menu */

header .nav-collapse ul {margin: 15px 0}

header .nav-collapse li {
	display : inline-block;
	margin-left: 6px;
}

header .nav-collapse li a {
	border: 2px solid;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 15px 12px;
}

header .nav-collapse li a.with-border {font-weight: 400}
header .nav-collapse li a.with-border {border-color: rgba(121,127,148,0.3)}
header .nav-collapse li.active a.with-border {border-color: transparent}

header .nav-collapse li a.without-border {border-color: rgba(121,127,148,0)}

header .nav-collapse li a:hover,
header .nav-collapse li a:focus,
header .nav-collapse .active a,
header .nav-collapse .active a:hover,
header .nav-collapse .active a:focus {
	background-color: rgba(121,127,148,0.3);
	border-color: transparent;
}

/* mobile menu */

@media (max-width: 991px) {

	header .toggle {text-align: right} /* hack */

	header .toggle-menu {
		background-color: #1F294D;
		border: 2px solid rgba(121,127,148,0.3);
		border-color: #4C5371;
		padding: 15px 12px;
		color: white;
		border-radius: 5px;
		text-transform: uppercase;
	}

	header .toggle-menu:hover, header .toggle-menu:focus {background: #4C5371}

	header .nav-collapse li {
		margin-right: 0;
		margin-top: 5px;
		padding: 15px 12px;
		position: relative;
  	display: block;
		list-style: none;
	}

}

/* big box */

header .bigbox {text-align: center; margin: 0}

header .bigbox h1 {
	margin-bottom: 60px;
	font-weight: 300;
	font-size: 65px;
}

header .bigbox p {
	margin: 0 auto 30px auto;
	font-size: 25px;
	width: 90%;
}

header .bigbox a.cta {font-size: 20px}

/* pricing plans */

header .plans {margin: 0 auto; width: 90%}

header .plan {
	width: 32%;
	padding: 30px 15px;
	border-radius: 5px;
	float: left;
}

header .plan.batch,
header .plan.real-time {margin-left: 2%}

header .plan {
	background-color: rgba(121,127,148,0.3);
	text-transform: uppercase;
	text-align: center;
}

header .plan-name {font-weight: 400; font-size: 25px}

header .plan-price {padding: 10px 0}
header .plan-price {font-weight: 300; font-size: 60px}
header .plan-price .per-month {font-size: 20px}
header .plan-price sup {font-size: 30px}

header .plan-details {font-weight: 400; font-size: 15px; min-height: 200px}
header .plan-detail {margin-top: 5px; color: #A5A9B9}
header .plan-detail.white {color: white}

header .plan-cta {margin-top: 5px}

@media (max-width: 991px) { /* responsive pricing plans */

header .plan {
	width: 100%;
	float: none;
}

header .plan.batch,
header .plan.real-time {margin-left: 0; margin-top: 15px}

header .plan-details {min-height: 20px}

}

/* call to action */

.cta-button {
  display: inline-block;
  padding: 15px 12px;
  font-size: 15px;
  font-weight: 400;
  user-select: none;
  border: 1px solid transparent; /* overwrite defaults */
  border-radius: 5px;
  text-transform: uppercase;
}

.cta-button {color: white; background-color: #5CB85C}
