---
theme:
  name: bootstrap-3
layout: default
---
<main>
  <div class="wrapper">
    <div class="container">
      <div class="column wide">
        <div class="post">
          <div class="datebox">{{ page.date | date_to_long_string }}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="/blog/{{ page.category | downcase }}">{{ page.category }}</a>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;{% for author in site.data.authors %}{% if author.name == page.author %}<a href="{{ author.url }}">{{ author.full_name }}</a>{% endif %}{% endfor %}</div>
          <h1>{{ page.title }}</h1>
          <div class="content">{{ content }}</div>
        </div>
        <div><strong>Thoughts or questions? Come join us in our <a href="http://discourse.snowplowanalytics.com">Discourse forum</a>!</strong></div>
        <div class="author">
          <div class="box">
            {% for author in site.data.authors %}
              {% if author.name == page.author %}
                <div class="box-header">{{ author.full_name }}</div>
                <div class="box-text"><img src="{{ author.avatar }}">{{ author.spiel }}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="column narrow">{% include blog/sidebar.html %}</div>
    </div>
  </div>
</main>
