<div class="container narrow">
  <div class="row">
    <div class="bigbox">
      <h1>Request a free trial.</h1>
      <h2>Managed Service – Batch</h2>
    </div>
  </div>
</div>

<div class="container narrower">
  <div clas="row">
    <div id="trial-form"><!-- used in css not js -->
      <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" class="snplw-form-horizontal">

      <input type=hidden name="oid" value="00D24000000bPI5">
      <input type=hidden name="retURL" value="http://snowplowanalytics.com/"> <!-- this is the success page -->

      <div class="snplw-form-group" id="groupFirstName">
        <div id="controlsFirstName">
          <input type="text" class="snplw-form-control" id="first_name" name="first_name" placeholder="First Name" maxlength="40">
        </div>
      </div>

      <div class="snplw-form-group" id="groupLastName">
        <div id="controlsLastName">
          <input type="text" class="snplw-form-control" id="last_name" name="last_name" placeholder="Last Name" maxlength="80">
        </div>
      </div>

      <div class="snplw-form-group" id="groupEmail">
        <div id="controlsEmail">
          <input type="text" class="snplw-form-control" id="email" name="email" placeholder="Email" maxlength="80" >
        </div>
      </div>

      <div class="snplw-form-group" id="groupCompany">
        <div id="controlsCompany">
          <input type="text" class="snplw-form-control" id="company" name="company" placeholder="Company" maxlength="40">
        </div>
      </div>

      <div class="snplw-form-group" id="groupEventsPerMonth">
        <div id="controlsEventsPerMonth">
          <select class="snplw-form-control" id="00N2400000DHvUj" name="00N2400000DHvUj">
            <option value="" disabled selected>Estimated Events per Month</option>
            <option value="&lt; 1 million">&lt; 1 million</option>
            <option value="1 - 10 million">1 - 10 million</option>
            <option value="10 - 100 million">10 - 100 million</option>
            <option value="100 - 1 billion">100 - 1 billion</option>
            <option value="1 billion +">1 billion +</option>
          </select>
        </div>
      </div>

      <div style="text-align:center">
          <button type="submit" class="cta-button green">Request a free trial</button><!--id="submitFreeTrialButton"-->
      </div>

      </form>
    </div>
  </div>
</div>
