<div class="topbanner">
  <div class="shape a"></div>
  <div class="shape b"></div>
  <div class="shape c"></div>
  <div class="content">
    <div class="container">
      <h1>Snowplow, the<br>event data pipeline.</h1>
      <p>Track all events across all channels.<br>Action the data in real-time.</p>
      <a href="/trial"><button class="cta-button green" type="button">Get started</button></a>
      <span>or</span>
      <a href="/product"><button class="cta-button green" type="button">Learn more</button></a>
    </div>
  </div>
</div>
