<div class="topbanner">
  <div class="shape a"></div>
  <div class="shape b"></div>
  <div class="shape c"></div>
  <div class="content">
    <div class="container">
      <h1>Snowplow<span class="iphone5">, the<br>event data pipeline.</span></h1>
      <h2>Track all events across all channels.<br>Action the data in real-time.</h2>
      <a href="/trial"><button class="cta darkgreen" type="button">Get started</button></a>
      <span class="or">or</span>
      <a href="/product"><button class="cta white" type="button">Learn more</button></a>
    </div>
  </div>
</div>
