<div class="wrapper custom">
<div class="container narrow">
  <div class="bigbox">
    <h1>Request a free trial.</h1>
    <h2>Managed Service – Real-time Pipeline</h2>
  </div>
</div>

<div class="container narrower">
  <form id="requestRealTimeTrial" class="request-trial">

    <div class="request-trial-trick">
      <input type="text" class="request-trial-input" id="inputLeadSource" value="Trial Form Real Time">
      <input type="text" class="request-trial-input" id="inputWebsite" maxlength="255">
    </div>

    <div class="request-trial-group" id="groupFirstName">
      <div id="controlsFirstName">
        <input type="text" class="request-trial-input" id="inputFirstName" placeholder="First Name" maxlength="40">
      </div>
    </div>

    <div class="request-trial-group" id="groupLastName">
      <div id="controlsLastName">
        <input type="text" class="request-trial-input" id="inputLastName" placeholder="Last Name" maxlength="80">
      </div>
    </div>

    <div class="request-trial-group" id="groupEmail">
      <div id="controlsEmail">
        <input type="text" class="request-trial-input" id="inputEmail" placeholder="Email" maxlength="80" >
      </div>
    </div>

    <div class="request-trial-group" id="groupCompany">
      <div id="controlsCompany">
        <input type="text" class="request-trial-input" id="inputCompany" placeholder="Company" maxlength="40">
      </div>
    </div>

    <div class="request-trial-group" id="groupEventsPerMonth">
      <div id="controlsEventsPerMonth">
        <select class="request-trial-input" id="inputEventsPerMonth">
          <option value="" disabled selected>Estimated Events per Month</option>
          <option value="&lt; 1M">&lt; 1M</option>
          <option value="1M - 10M">1M – 10M</option>
          <option value="10M - 100M">10M – 100M</option>
          <option value="100M - 1B">100M – 1B</option>
          <option value="&gt; 1B">&gt; 1B</option>
        </select>
      </div>
    </div>

    <div style="text-align:center">
      <button type="submit" id="submitRequestRealTimeTrial" class="cta-button green">Request a free trial</button>
    </div>

  </form>
</div>
</div>
