/*
 * DEPENDENCIES
 */



/*!
 * Snowplow v0.0.1 (https://github.com/snowplow/snowplow.github.com)
 * HOME FILE
 */

/*
 * CONFIGURATION
 */

@import "../snowplow/_variables";

/*
 * STYLES
 */

body.contact-us
{
	h1, h2, h3, h4, h5
	{
		letter-spacing:0;
	}

	form
	{
		textarea
		{
			max-width:100%;
			min-width:100%;
		}

		button
		{
			width:100%;
			display:block;
		}
	}

	.map
	{
		min-height:400px;
	}
}