        <footer id="contacts">
            <div class="container">
                <div class="row">
                    <div class="brand col-md-5 col-sm-12">
                        <a class="brand-logo" href="#">
                            <i class="i-logo-type"></i>
                            <small>Digital Analytics Technology</small>
                        </a>
                        <form action="" method="">
                            <div class="input-group newsletter">
                                <input type="email" class="form-control" placeholder="Get our latest updates">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Subscribe</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="links col-md-7 col-sm-12">
                        <div class="row">
                        <div class="col-sm-3">
                            <h6>Company</h6>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Partners</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h6>Products</h6>
                            <ul>
                                <li><a href="#">Snowplow Insights</a></li>
                                <li><a href="#">Snowplow React</a></li>
                                <li><a href="#">Open Source Solutions</a></li>
                                <li><a href="#">Cases</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h6>Services</h6>
                            <ul>
                                <li><a href="#">Data Analytics</a></li>
                                <li><a href="#">Data Engineering</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h6>Resources</h6>
                            <ul>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">Documentation</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="credits col-sm-6 col-xs-12">
                        <small>© 2017 Snowplow <a href="#">Privacy Policy</a> <a href="#">Terms of Service</a></small>
                    </div>
                    <div class="social col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>        

		<script type="text/javascript" src="{{ BASE_PATH }}/assets/js/snowplow.js"></script>
        {% if page.assets.js %}{% for js in page.assets.js %}<script type="text/javascript" src='{{ js }}'></script>{% endfor %}{% endif %}
    </body>
</html>