<div id="header" class="span-24">
  <div id="logo">
    <h1><a href="/">SnowPlow</a></h1>
    <p>Your web analytics data in your hands</p>
  </div>
  <div id="menu" class="span-15">
    <ul>
      <li {% if page.category == 'product'%} class="active" {% endif %}><a href="/product/index.html">Product</a></li>
      <li {% if page.category == 'services'%} class="active" {% endif %}><a href="/services/index.html">Services</a></li>
      <li {% if page.category == 'analytics'%} class="active" {% endif %}><a href="/analytics/index.html">Analytics</a></li>
      <li {% if page.category == 'technology'%} class="active" {% endif %}><a href="/technology/index.html">Technology</a></li>
      <li {% if page.category == 'blog'%} class="active" {% endif %}><a href="/blog.html">Blog</a></li>
      <li {% if page.category == 'contact'%} class="active" {% endif %}><a id="mail" href="/contact/index.html">Contact</a></li>
    </ul>
  </div>
</div>
