<header>
    <nav class="navbar navbar-default">
        <div class="container text-center">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="i-logo-type"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-menu">

                <ul class="nav navbar-nav" id="menu-center">
                    <li class="dropdown">
                        <a href="/company" class="dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/company/about">About</a></li>
                            <li><a href="/company/jobs">Jobs</a></li>
                            <li><a href="/company/blog">Blog</a></li>
                            <li><a href="/company/customers">Customers</a></li>
                            <li><a href="/company/partners">Partners</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="/products" class="dropdown-toggle disabled" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Products <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="/products/snowplow-insights">Snowplow Insights</a></li>
                            <li><a href="/products/snowplow-react">Snowplow React<sup>BETA</sup></a></li>
                            <li><a href="/products/snowplow-open-source">Open Source</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/services" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/services/data-analytics">Data Analytics</a></li>
                            <li><a href="/services/data-engineering">Data Engineering</a></li>
                        </ul>
                    </li>
                    <li><a href="/cases">Cases</a></li>
                    <li class="dropdown">
                        <a href="/resources" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/resources/community">Community</a></li>
                            <li><a href="/resources/documentation">Documentation</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="btn btn-primary call-to-action">Request a Demo</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>