<div id="sidebar">
	<h1>Analysts Cookbook</h1>
	<p>
		<a href="/analytics/index.html" {% if page.analytics_category == 'overview' %}class="active"{% endif %}>Overview</a>
		{% if page.analytics_category == 'overview' %}
		<ul>
			{% for weight in (1..10) %}
				{% for p in site.pages %}
					{% if p.analytics_category == 'overview' %}
						{% if p.weight == weight %}
							{% if page.url == p.url %}
							<li class="active"><a href="{{ p.url }}" class="active">{{ p.title }}</a></li>
							{% else %}
							<li><a href="{{ p.url }}">{{ p.title }}</a></li>
							{% endif %}		
						{% endif %}			
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>
		{% endif %}
	</p>
	<p>
		<a href="/analytics/customer-analytics/overview.html" {% if page.analytics_category == 'customer' %}class="active"{% endif %}>Customer analytics</a>
		{% if page.analytics_category == 'customer' %}
		<ul>
			{% for weight in (1..10) %}
				{% for p in site.pages %}
					{% if p.analytics_category == 'customer' %}
						{% if p.weight == weight %}
							{% if page.url == p.url %}
							<li class="active"><a href="{{ p.url }}" class="active">{{ p.title }}</a></li>
							{% else %}
							<li><a href="{{ p.url }}">{{ p.title }}</a></li>
							{% endif %}		
						{% endif %}			
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>		
		{% endif %}
	</p>
	<p>
		<a href="/analytics/platform-analytics/overview.html" {% if page.analytics_category == 'platform' %}class="active"{% endif %}>Platform analytics</a>
		{% if page.analytics_category == 'platform' %}
		<ul>
			{% for weight in (1..10) %}
				{% for p in site.pages %}
					{% if p.analytics_category == 'platform' %}
						{% if p.weight == weight %}
							{% if page.url == p.url %}
							<li class="active"><a href="{{ p.url }}" class="active">{{ p.title }}</a></li>
							{% else %}
							<li><a href="{{ p.url }}">{{ p.title }}</a></li>
							{% endif %}		
						{% endif %}			
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>		
		{% endif %}
	</p>
	<p>
		<a href="/analytics/catalogue-analytics/overview.html" {% if page.analytics_category == 'catalogue' %}class="active"{% endif %}>Catalogue analytics</a>
		{% if page.analytics_category == 'catalogue' %}
		<ul>
			{% for weight in (1..10) %}
				{% for p in site.pages %}
					{% if p.analytics_category == 'catalogue' %}
						{% if p.weight == weight %}
							{% if page.url == p.url %}
							<li class="active"><a href="{{ p.url }}" class="active">{{ p.title }}</a></li>
							{% else %}
							<li><a href="{{ p.url }}">{{ p.title }}</a></li>
							{% endif %}		
						{% endif %}			
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>		
		{% endif %}
	</p>
	<p>
		<a href="/analytics/tools-and-techniques/overview.html" {% if page.analytics_category == 'tools-and-techniques' %}class="active"{% endif %}>Tools and techniques</a>
		{% if page.analytics_category == 'tools-and-techniques' %}
		<ul>
			{% for weight in (1..10) %}
				{% for p in site.pages %}
					{% if p.analytics_category == 'tools-and-techniques' %}
						{% if p.weight == weight %}
							{% if page.url == p.url %}
							<li class="active"><a href="{{ p.url }}" class="active">{{ p.title }}</a></li>
							{% else %}
							<li><a href="{{ p.url }}">{{ p.title }}</a></li>
							{% endif %}		
						{% endif %}			
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>		
		{% endif %}
	</p>
</div>