/*
 * Variables:
 */
/* 
 * General page layout 
 */
#container {
  width: 960px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  /* font-family: "Lucida Grande", "Tahoma", "Lucida Sans", "Lucida", "Arial", "Helvetica", "sans-serif"; */
  color: #162b4f;
  font-size: 13px; }
  #container h1 {
    font-size: 18px;
    margin-top: 14px; }
  #container h2 {
    font-size: 16px;
    margin-top: 20px; }
  #container h3 {
    font-size: 14px;
    margin-top: 20px; }
  #container p {
    font-size: 13px; }
  #container a {
    text-decoration: none; }
  #container a:hover {
    text-decoration: underline; }
  #container .shortcolumn {
    display: inline;
    float: left;
    width: 276px;
    height: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ececec; }
    #container .shortcolumn h2 {
      margin-top: 10px; }
    #container .shortcolumn li {
      margin-bottom: 3px; }
  #container .column {
    display: inline;
    float: left;
    width: 276px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ececec; }
    #container .column h2 {
      margin-top: 10px; }
    #container .column li {
      margin-bottom: 3px; }
  #container .big-button {
    width: 250px;
    height: 30px;
    line-height: 30px;
    /* To vertically center text */
    background-color: #ececec;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #162b4f; }
    #container .big-button a {
      color: #162b4f;
      text-decoration: none;
      width: 250px;
      /* Make as wide as button to maximize clickable area */
      height: 30px;
      /* Make as high as button to maximize clickable area */
      float: left; }
    #container .big-button:hover {
      background: #162b4f; }
      #container .big-button:hover a {
        color: white; }
  #container #left-button {
    display: inline;
    float: left;
    margin-left: 150px; }
  #container #right-button {
    display: inline;
    float: right;
    margin-right: 150px; }
  #container #generateTagForm {
    width: 650px;
    border: 2px;
    border-color: #162b4f; }
    #container #generateTagForm fieldset {
      background-color: #ececec;
      border: 0;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 2px;
      margin-right: 2px; }
      #container #generateTagForm fieldset label {
        display: inline;
        float: left;
        width: 200px; }
    #container #generateTagForm h4 {
      margin-top: 3px;
      margin-bottom: 3px; }

#sidebar {
  width: 200px;
  min-height: 400px;
  display: inline;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #ececec;
  font-size: 12px; }
  #sidebar h1 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px; }
  #sidebar ul {
    margin-left: 15px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
    #sidebar ul li {
      margin-bottom: 3px; }
  #sidebar a {
    font-size: 12px;
    text-decoration: none;
    font-weight: normal; }
    #sidebar a:hover {
      text-decoration: underline; }
    #sidebar a.active {
      text-decoration: underline; }
  #sidebar p {
    margin-top: 5px;
    margin-bottom: 2px; }

#contents {
  width: 720px;
  display: inline;
  float: left; }
  #contents img {
    max-width: 100%; }
  #contents table {
    margin-top: 10px;
    margin-bottom: 10px; }
    #contents table thead {
      background-color: #ececec; }
      #contents table thead th {
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px; }
    #contents table td {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px; }
  #contents code {
    max-width: 720px; }
  #contents p {
    font-size: 13px; }
  #contents a {
    text-decoration: none; }

#header {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-color: #dcdce9;
  margin-bottom: 20px; }
  #header #logo {
    display: inline;
    float: left;
    width: 200px;
    height: 50px; }
    #header #logo h1 {
      margin-bottom: 0px; }
    #header #logo a {
      text-decoration: none; }
    #header #logo p {
      margin-top: 0px;
      font-size: 8px; }
  #header #menu {
    display: inline;
    float: right;
    width: 750px; }
    #header #menu ul {
      list-style-type: none;
      margin-top: 28px; }
    #header #menu li {
      display: inline;
      width: 100px;
      height: 20px;
      float: left;
      margin-left: 10px;
      background-color: #ececec;
      text-align: center;
      font-size: 13px;
      border-width: 1px;
      border-style: solid;
      border-color: #dcdce9; }
      #header #menu li:hover {
        background: #162b4f; }
        #header #menu li:hover a {
          color: white; }
      #header #menu li a {
        color: #162b4f;
        text-decoration: none;
        float: left;
        width: 100px;
        /* Mqke the clickable area as wide as possible */ }
    #header #menu li.active {
      background-color: #162b4f;
      border-color: #162b4f; }
      #header #menu li.active a {
        color: white; }

#footer {
  display: block;
  width: 100%;
  float: left;
  height: 30px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #162b4f;
  margin-top: 40px;
  text-align: center; }
  #footer p {
    font-size: 10px; }

/* Blog */
.post {
  display: block;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #ececec;
  padding: 20px 20px 20px 20px;
  /*
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $darkblue;
  */ }
  .post p.note {
    font-size: 8px; }

/* Pygments for code highlighting */
.highlight pre {
  overflow: auto;
  /* Show a scrollbar when code extends beyond box */ }
