/*
 * Variables:
 */

$lightblue: #00679D;
$darkblue: #162B4F;
$lightgrey: #ECECEC;
$darkgrey: #DCDCE9;
$white: #FFFFFF;

/* 
 * General page layout 
 */

#container {
	width: 960px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	clear: both;

	font-family: Helvetica, arial, freesans, clean, sans-serif;
	/* font-family: "Lucida Grande", "Tahoma", "Lucida Sans", "Lucida", "Arial", "Helvetica", "sans-serif"; */
	color: $darkblue;
	font-size: 13px;
	
	h1 { font-size: 18px; margin-top: 14px;}
	h2 { font-size: 16px; margin-top: 20px;}
	h3 { font-size: 14px; margin-top: 20px;}
	p  { font-size: 13px; }
	a  { text-decoration: none; }
	a:hover { text-decoration: underline; }

	.shortcolumn {
		display: inline;
		float: left;
		width: 276px;
		height: 260px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: $lightgrey;

		h2 {
			margin-top: 10px;
		}

		li {
			margin-bottom: 3px;
		}
	}

	.column {
		display: inline;
		float: left;
		width: 276px;
		height: 400px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: $lightgrey;


		h2 {
			margin-top: 10px;
		}


		li {
			margin-bottom: 3px;
		}
	}

	#generateTagForm {
		width: 650px;
		border: 2px;
		border-color: $darkblue;

		fieldset {
			background-color: $lightgrey;
			border: 0;
			margin-top: 2px;
			margin-bottom: 2px;
			margin-left: 2px;
			margin-right: 2px;

			label {
				display: inline;
				float: left;
				width: 200px;
			}
		}

		h4 {
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}
			
}

#sidebar {
	width: 200px;
	min-height: 400px;
	display: inline;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px 10px 10px 10px;
	background-color: $lightgrey;
	font-size: 12px;

	h1 {
		font-size: 13px;
		font-weight: bold;
		margin-top: 15px;
	}

	ul {
		margin-left: 15px;
		padding-left: 0px;
		margin-top: 0px;
		margin-bottom: 0px;

		li {
			margin-bottom: 3px;
		}
	}

	a {
		font-size: 12px;
		text-decoration: none;
		font-weight: normal;

		&:hover { text-decoration: underline; }

		&.active { text-decoration: underline; }
	}

	p {
		margin-top: 5px;
		margin-bottom: 2px;
	}
}

#contents {
	width: 720px;
	display: inline;
	float: left;

	img { max-width: 100%; }

	table {
		margin-top: 10px;
		margin-bottom: 10px;
		thead {
			background-color: $lightgrey;
			th {
				font-size: 12px;
				text-align: left;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		td {
			text-align: left;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 12px;
		}
	}

	code {
		max-width: 720px;
	}
	
	p  { font-size: 13px; }
	a  { text-decoration: none; }
	
}

#header {
	display: block;
	width: 100%;
	float: left;
	clear: both;
	height: 50px;
	border-bottom-style: solid ;
	border-bottom-width: 1px;	
	border-right-color: $darkgrey;
	margin-bottom: 20px;

	#logo {
		display: inline;
		float: left;
		width: 200px;
		height: 50px;

		h1 {
			margin-bottom: 0px;
		}

		a {
			text-decoration: none;
		}

		p {
			margin-top: 0px;
			font-size: 8px;
		}
	}

	#menu {
		display: inline;
		float: right;
		width: 750px;
		
		ul {
			list-style-type: none;
			margin-top: 28px;
		}

		li {
			display: inline;
			width: 100px;
			height: 20px;
			float: left;
			margin-left: 10px;
			background-color: $lightgrey;
			text-align: center;
			font-size: 13px;
			border-width: 1px; 
			border-style: solid; 
			border-color: $darkgrey;
			&:hover { 
				background: $darkblue;
				a {
					color: $white;
				}
			}
			a {
				color: $darkblue;
				text-decoration: none;
				float: left;
				width: 100px; /* Mqke the clickable area as wide as possible */
			}
		}

		li.active {
			background-color: $darkblue;
			border-color: $darkblue; 
			
			a {
				color: $white;		
			}
		}

	}
}

#footer {
	display: block;
	width: 100%;
	float: left;
	height: 30px;
	border-top-style: solid ;
	border-top-width: 1px;	
	border-top-color: $darkblue;
	margin-top: 40px;
	text-align: center;

	p {
		font-size: 10px;
	}

}

/* Blog */

.post
{
	display: block;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: $lightgrey;
	padding: 20px 20px 20px 20px;
	/*
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: $darkblue;
	*/

	p.note {
		font-size: 8px; 
	}

}

/* Pygments for code highlighting */
.highlight {
	pre {
		overflow: auto;		/* Show a scrollbar when code extends beyond box */ 
	}
}