/*
 * Variables:
 */

$lightblue: #00679D;
$darkblue: #162B4F;
$lightgrey: #ECECEC;
$darkgrey: #DCDCE9;
$white: #FFFFFF;
$a5: #1F294D;
$a4: #4C5471;
$a3: #797F94;
$a2: #A5A9B8;
$a1: #D2D4DB;
$b5: #2E469A;
$b4: #586BAE;
$b3: #8290C2;
$b2: #ACB5D6;
$b1: #D5DAEB;

/* 
 * General page layout 
 */

#container {
	width: 960px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	clear: both;

	/* font-family: Helvetica, arial, freesans, clean, sans-serif; */
	/* font-family: "Lucida Grande", "Tahoma", "Lucida Sans", "Lucida", "Arial", "Helvetica", "sans-serif"; */
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $a4;
	font-size: 14px;
	
	h1 { font-size: 18px; margin-top: 14px; color: $a5;}
	h2 { font-size: 16px; margin-top: 12px; color: $a5;}
	h3 { font-size: 15px; margin-top: 12px; color: $a5;}
	p  { font-size: 14px; }
	a  { text-decoration: none; color: $b5; font-weight: bold; }
	a:hover { text-decoration: underline; }

	.shortcolumn {
		display: inline;
		float: left;
		width: 276px;
		height: 260px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: $a1;

		h2 {
			margin-top: 10px;
		}

		li {
			margin-bottom: 3px;
		}
	}


	.column {
		display: inline;
		float: left;
		width: 276px;
		height: 400px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: $a1;


		h2 {
			margin-top: 10px;
		}


		li {
			margin-bottom: 3px;
		}
	}

	.big-button {
		width: 250px;
		height: 30px;
		line-height: 30px; /* To vertically center text */
		background-color: $a1;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 20px;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		border-width: 1px;
		border-style: solid;
		border-color: $a5;
		a {
			color: $a5;
			text-decoration: none;
			width: 250px; /* Make as wide as button to maximize clickable area */
			height: 30px; /* Make as high as button to maximize clickable area */
			float: left;
		}
		&:hover {
			background: $a5;
			a {
				color: $a1;
			}
		}
	}

	#left-button {
		display: inline;
		float: left;
		margin-left: 150px;
	}

	#right-button {
		display: inline;
		float: right;
		margin-right: 150px;
	}

	#generateTagForm {
		width: 650px;
		border: 2px;
		border-color: $a5;

		fieldset {
			background-color: $a2;
			border: 0;
			margin-top: 2px;
			margin-bottom: 2px;
			margin-left: 2px;
			margin-right: 2px;

			label {
				display: inline;
				float: left;
				width: 200px;
			}
		}

		h4 {
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}

	.author {
		color: $a3;
		font-size: 11px;
		font-style: italic;
	}
			
}

#sidebar {
	width: 200px;
	min-height: 400px;
	display: inline;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px 10px 10px 10px;
	background-color: $a1;
	font-size: 13px;

	h1 {
		font-size: 14px;
		font-weight: bold;
		margin-top: 15px;
	}

	ul {
		margin-left: 15px;
		padding-left: 0px;
		margin-top: 0px;
		margin-bottom: 0px;

		li {
			margin-bottom: 3px;
		}
	}

	a {
		font-size: 13px;
		text-decoration: none;
		font-weight: normal;

		&:hover { text-decoration: underline; }

		&.active { text-decoration: underline; }
	}

	p {
		margin-top: 5px;
		margin-bottom: 2px;
	}
}

#contents {
	width: 720px;
	display: inline;
	float: left;

	img { max-width: 100%; }

	table {
		margin-top: 10px;
		margin-bottom: 10px;
		thead {
			background-color: $a1;
			th {
				font-size: 14px;
				text-align: left;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		td {
			text-align: left;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 13px;
		}
	}

	code {
		max-width: 720px;
	}
	
	p  { font-size: 14px; }
	a  { text-decoration: none; }

	.post_summary {
		display: block;
		width: 100%;
		float: left;
		margin-top: 5px;
	}

	.date {
		display: inline;
		width: 100px;
		float: left;
	}

	.post_title {
		display: inline;
		width: 600px;
		float: left;
	}

	.author_spiel {
		margin-bottom: 10px;
		font-style: italic;
	}
	
}

#header {
	display: block;
	width: 100%;
	float: left;
	clear: both;
	height: 50px;
	border-bottom-style: solid ;
	border-bottom-width: 1px;	
	border-right-color: $a3;
	margin-bottom: 20px;

	#logo {
		display: inline;
		float: left;
		width: 200px;
		height: 50px;

		h1 {
			margin-bottom: 0px;
		}

		a {
			text-decoration: none;
		}

		p {
			margin-top: 0px;
			font-size: 8px;
		}
	}

	#menu {
		display: inline;
		float: right;
		width: 750px;
		
		ul {
			list-style-type: none;
			margin-top: 23px;
		}

		li {
			display: inline;
			width: 100px;
			height: 25px;
			float: left;
			margin-left: 10px;
			background-color: $a1;
			text-align: center;
			font-size: 14px;
			border-width: 1px; 
			border-style: solid; 
			border-color: $a1;
			&:hover { 
				background: $a5;
				a {
					color: $a1;
				}
			}
			a {
				color: $a5;
				text-decoration: none;
				float: left;
				width: 100px; /* Mqke the clickable area as wide as possible */
				margin-top: 3px;
			}
		}

		li.active {
			background-color: $a5;
			border-color: $a5; 
			
			a {
				color: $a1;		
			}
		}

	}
}

#footer {
	display: block;
	width: 100%;
	float: left;
	height: 30px;
	border-top-style: solid ;
	border-top-width: 1px;	
	border-top-color: $a5;
	margin-top: 40px;
	text-align: center;

	p {
		font-size: 11px;
	}

}

/* Blog */

.post
{
	display: block;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: $a1;
	padding: 20px 20px 20px 20px;
	/*
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: $a5;
	*/

	p.note {
		font-size: 8px; 
	}

	.author_summary {
		background-color: $a1;
		width: 628px;
		height: 100px;
		padding-top: 1px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 30px;


		.author_image {
			height: 60px;
			width: 60px;
			display: inline;
			float: left;
			margin-left: 10px;
		}

		.author_spiel {
			width: 500px;
			float: left;
			margin-left: 10px;
		}

		h2 {
			margin-left: 10px;
			margin-top: 5px;
		}
	}

}

/* Pygments for code highlighting */
.highlight {
	pre {
		overflow: auto;		/* Show a scrollbar when code extends beyond box */ 
	}
}

/* Formatting for table on tech doc page */
#tech-table-links{
	table {
		td {
			width: 480px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			vertical-align: top;
		}

	}
}

/* 
	Getting MathJax to play nice with Jekyll 
	See http://cwoebker.com/posts/latex-math-magic
*/
code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}