/*
 * Variables:
 */
/* 
 * General page layout 
 */
#container {
  width: 960px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  /* font-family: Helvetica, arial, freesans, clean, sans-serif; */
  /* font-family: "Lucida Grande", "Tahoma", "Lucida Sans", "Lucida", "Arial", "Helvetica", "sans-serif"; */
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c5471;
  font-size: 14px; }
  #container h1 {
    font-size: 18px;
    margin-top: 14px;
    color: #1f294d; }
  #container h2 {
    font-size: 16px;
    margin-top: 12px;
    color: #1f294d; }
  #container h3 {
    font-size: 15px;
    margin-top: 12px;
    color: #1f294d; }
  #container p {
    font-size: 14px; }
  #container a {
    text-decoration: none;
    color: #2e469a;
    font-weight: bold; }
  #container a:hover {
    text-decoration: underline; }
  #container .shortcolumn {
    display: inline;
    float: left;
    width: 276px;
    height: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d2d4db; }
    #container .shortcolumn h2 {
      margin-top: 10px; }
    #container .shortcolumn li {
      margin-bottom: 3px; }
  #container .column {
    display: inline;
    float: left;
    width: 276px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d2d4db; }
    #container .column h2 {
      margin-top: 10px; }
    #container .column li {
      margin-bottom: 3px; }
  #container .big-button {
    width: 250px;
    height: 30px;
    line-height: 30px;
    /* To vertically center text */
    background-color: #d2d4db;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #1f294d; }
    #container .big-button a {
      color: #1f294d;
      text-decoration: none;
      width: 250px;
      /* Make as wide as button to maximize clickable area */
      height: 30px;
      /* Make as high as button to maximize clickable area */
      float: left; }
    #container .big-button:hover {
      background: #1f294d; }
      #container .big-button:hover a {
        color: #d2d4db; }
  #container #left-button {
    display: inline;
    float: left;
    margin-left: 150px; }
  #container #right-button {
    display: inline;
    float: right;
    margin-right: 150px; }
  #container #generateTagForm {
    width: 650px;
    border: 2px;
    border-color: #1f294d; }
    #container #generateTagForm fieldset {
      background-color: #a5a9b8;
      border: 0;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 2px;
      margin-right: 2px; }
      #container #generateTagForm fieldset label {
        display: inline;
        float: left;
        width: 200px; }
    #container #generateTagForm h4 {
      margin-top: 3px;
      margin-bottom: 3px; }
  #container .author {
    color: #797f94;
    font-size: 11px; }

#sidebar {
  width: 200px;
  min-height: 400px;
  display: inline;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #d2d4db;
  font-size: 13px; }
  #sidebar h1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px; }
  #sidebar ul {
    margin-left: 15px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
    #sidebar ul li {
      margin-bottom: 3px; }
  #sidebar a {
    font-size: 13px;
    text-decoration: none;
    font-weight: normal; }
    #sidebar a:hover {
      text-decoration: underline; }
    #sidebar a.active {
      text-decoration: underline; }
  #sidebar p {
    margin-top: 5px;
    margin-bottom: 2px; }

#contents {
  width: 720px;
  display: inline;
  float: left; }
  #contents img {
    max-width: 100%; }
  #contents table {
    margin-top: 10px;
    margin-bottom: 10px; }
    #contents table thead {
      background-color: #d2d4db; }
      #contents table thead th {
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px; }
    #contents table td {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 13px; }
  #contents pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333333;
    background-color: #f7f7f9; }
  #contents p {
    font-size: 14px; }
  #contents a {
    text-decoration: none; }
  #contents .post_summary {
    display: block;
    width: 100%;
    float: left;
    margin-top: 5px; }
  #contents .date {
    display: inline;
    width: 100px;
    float: left; }
  #contents .post_title {
    display: inline;
    width: 600px;
    float: left; }
  #contents .author_spiel {
    margin-bottom: 10px; }
  #contents table {
    color: #586bae;
    border-width: 1px;
    border-color: #acb5d6;
    border-collapse: collapse; }
  #contents table th {
    color: #d5daeb;
    background: #2e469a;
    border-width: 1px;
    border-color: #acb5d6; }
  #contents table td {
    background: #d5daeb;
    border-width: 1px;
    border-style: solid;
    border-color: #acb5d6; }
    #contents table td ul {
      padding-left: 10px; }

#header {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-color: #797f94;
  margin-bottom: 20px; }
  #header #logo {
    display: inline;
    float: left;
    width: 200px;
    height: 50px; }
    #header #logo h1 {
      margin-bottom: 0px; }
    #header #logo a {
      text-decoration: none; }
    #header #logo p {
      margin-top: 0px;
      font-size: 8px; }
  #header #menu {
    display: inline;
    float: right;
    width: 750px; }
    #header #menu ul {
      list-style-type: none;
      margin-top: 23px; }
    #header #menu li {
      display: inline;
      width: 100px;
      height: 25px;
      float: left;
      margin-left: 10px;
      background-color: #d2d4db;
      text-align: center;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border-color: #d2d4db; }
      #header #menu li:hover {
        background: #1f294d; }
        #header #menu li:hover a {
          color: #d2d4db; }
      #header #menu li a {
        color: #1f294d;
        text-decoration: none;
        float: left;
        width: 100px;
        /* Mqke the clickable area as wide as possible */
        margin-top: 4px; }
    #header #menu li.active {
      background-color: #1f294d;
      border-color: #1f294d; }
      #header #menu li.active a {
        color: #d2d4db; }

#footer {
  display: block;
  width: 100%;
  float: left;
  height: 30px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #1f294d;
  margin-top: 40px;
  text-align: center; }
  #footer p {
    font-size: 11px; }

/* Blog */
.post {
  display: block;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px 20px 20px 20px;
  /* border-bottom-style: solid; */
  border-bottom-width: 1px;
  border-bottom-color: #8290c2; }
  .post p.note {
    font-size: 8px; }
  .post .author_summary {
    background-color: #d2d4db;
    width: 628px;
    height: 100px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px; }
    .post .author_summary .author_image {
      height: 60px;
      width: 60px;
      display: inline;
      float: left;
      margin-left: 10px; }
    .post .author_summary .author_spiel {
      width: 500px;
      float: left;
      margin-left: 10px; }
    .post .author_summary h2 {
      margin-left: 10px;
      margin-top: 5px; }

/* Pygments for code highlighting */
.highlight pre {
  overflow: auto;
  /* Show a scrollbar when code extends beyond box */ }

/* Formatting for table on tech doc page */
#tech-table-links table td {
  width: 480px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: top; }

/* 
	Getting MathJax to play nice with Jekyll 
	See http://cwoebker.com/posts/latex-math-magic
*/
code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit; }
