<div id="mc_embed_signup" class="subscribe">
	<form action="//snowplowanalytics.us11.list-manage.com/subscribe/post?u=10bb4a6f31d5f19e0d0b54476&amp;id=bb28c7d30d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_10bb4a6f31d5f19e0d0b54476_bb28c7d30d" tabindex="-1" value=""></div><!-- hidden for humans -->
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		</div>
	</form>
</div>
