
footer {
	padding: 56px 0 21px 0; /* 90 56 34 21 13 8 */
	background: #303030;
	font-weight: 400;
	font-size: 16px;
	color: white;
}

/* subscribe to our mailinglist */

footer .subscribe {
	margin-top: 8px;
	font-size: 0; /* trick to remove blank space */
}

footer input {
	font-size: 16px; /* set font-size again (trick to remove blank space) */
	border: none;
}

footer input:focus {outline:none}

footer input::-webkit-input-placeholder {color: #AAA} /* set placeholder text colour */
footer input::-moz-placeholder {color: #AAA}
footer input:-moz-placeholder {color: #AAA} /* works in FF 18 */
footer input:-ms-input-placeholder {color: #AAA}

footer input.email {
  background: #484848;
	padding: 8px 13px;
	width: 300px;
	color: #AAA;
}

footer input.button {
	background: #67AE24;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	text-transform: uppercase;
	padding: 8px 13px 8px 8px;
	color: white;
}

/* footer: basics */

footer ul {
	padding: 0;
	margin: 0;
}

footer li {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #AAA;
}

footer h2 {
	text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
	font-size: 16px;
	margin: 0 0 8px 0;
}

footer a, footer a:hover, footer a:focus {
	text-decoration: none;
	color: #AAA;
}

/* footer: */

footer .bottom.mail {margin-bottom: 34px}
footer .bottom.links {margin-bottom: 34px}

footer .list {
	float: left;
	width: 180px;
}

address {margin: 0} /* overwrite defaults */

/*  */

footer .bottom.notice {
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
}



@media (max-width: 991px) {
	footer {font-size: 15px}
	footer h2 {font-size: 15px}
	footer {padding: 34px 0 13px 0}
	footer .list {margin-right: 34px}
	footer input.email {font-size: 15px}
	footer input.button {font-size: 15px}
}

@media (max-width: 767px) {
	footer .bottom.mail {display: none}
}
