
/* ALL THE THINGS IN <MAIN> */

main {
	background-color: white;
	min-height: 80vh;
	padding: 0;
}

/* main: wrappers */

main .wrapper {background-color: white; padding: 45px 0}

main .wrapper.shaded {background-color: rgb(240,240,240)}
main .wrapper.bigger {padding-top: 60px}

/*  main: columns */

main .column {float: left}

@media (min-width: 1200px) {
	main .column.wide   {width: 74%; margin-right: 1%}
	main .column.narrow {width: 25%; margin-top: 15px}
}

@media (max-width: 1199px) {main .column.narrow {display: none}}

main .column.narrow {
	background-color: rgb(248,248,248);
	border-radius: 8px;
	font-size: 15px;
}

main .column.narrow > .header {
	background-color: rgb(240,240,240);
	text-transform: uppercase;
	padding: 12px 15px;
	font-weight: 400;
}

main .column.narrow > .header:first-of-type {border-radius: 8px 8px 0 0}
main .column.narrow > .text {padding: 12px 15px}

main .column.narrow ul {margin: 0; padding: 0}
main .column.narrow li {list-style: none; padding-bottom: 5px}
main .column.narrow li:last-of-type {padding-bottom: 0}

/* main: specific to blog */

.datebox,
.datebox > a,
.datebox > a:hover {
	color: #797F94;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.continue {text-align: center; margin-top: 15px}

.author			{margin: 30px 0}
.author.top {margin: 15px 0 30px 0}

h2.no-margin-top {margin-top: 0}




/* EVENT DATA PIPELINE Homepage */

.event-data-pipeline {

}

.event-data-pipeline h2{
	margin:35px 0;
	font-size: 50px;
    font-weight: 300;
    margin: 30px 0;
    padding: 0;
    letter-spacing: -2px
}

.event-data-pipeline .item {
	padding:0 25px
}

@media (max-width: 400px) {
	.event-data-pipeline .item {
		width: 100%;
		text-align: center
	}
	.event-data-pipeline .item img {
		max-width: 240px
	}
}

.event-data-pipeline h3 {
	font-size: 18px;
    font-weight: 300
}

.event-data-pipeline h3 a {
	color: #83c644
}

.event-data-pipeline .cta {
	color:#67AE24;
    border-color:#67AE24;
    margin-top:100px
}


/* USERS Homepage */


main .users {
	padding: 122px 0;
	background: #f5f5f5
}

@media (max-width: 768px) {main .users {padding: 30px 0}}

main .users .item {
	display: block;
	position: relative
}

main .slick {
	padding: 0 90px
}

@media (max-width: 768px) {main .slick {padding: 0 20px}}

.users-logobox .logo {display: inline-block;}

.users-logobox .logo img {height: 100px; }

.users-mugshot {
	left:0;
	top:50%;
	width: 100%;
	max-width: 160px;
	position:absolute;
	transform:translateY(-50%);
}

.users-oneliner {
	padding:40px 0 40px 200px
}

@media (max-width: 768px) {

	.users-mugshot {
		position: static;
		transform: none;
		margin: 0 auto;
		max-width: 200px;
	}

	.users-oneliner {
		padding: 20px 0 0 0
	}
}

.users-oneliner cite {
	font-size: 18px;
	font-weight: 400;
	padding-left: 30px;
}

.users-oneliner a {
	color: #67AE24;
	text-decoration: none
}

.users-logobox {
	text-align: center;
	width: 100%;
}

/* USERS Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider *:active {
	outline: none;
}

.slick-prev, .slick-next {
	color: #83c644;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: none;
	border: 1px solid #83c644;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	text-indent: -400%;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}

.slick-prev:before, .slick-next:before {
	top: 50%;
	left: 50%;
	content: '<';
	text-indent: 0;
	font-size: 20px;
	font-weight: 400;
	position: absolute;
	transform: translate(-50%, -50%)
}

.slick-next {
    left: auto;
    right: 0
}

.slick-next:before {
    content: '>'
}

@media (max-width: 768px) {.slick-prev, .slick-next {display: none!important;}}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  outline: none
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;
	display: none!important;
}

@media (max-width: 768px) {.slick-dots {display: block!important;margin-top: 30px}}

.slick-dots li {
	display:inline-block;
}

.slick-dots li + li {
	margin-left: 10px;
}

.slick-dots button {
	padding: 0;
	width: 15px;
	height: 15px;
	color: #83c644;
	display: block;
	background: none;
	overflow: hidden;
	border-radius: 50%;
	text-indent: -400%;
	border: 1px solid #83c644;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.slick-dots li.slick-active button {
	background: #83c644;
	pointer-events: none
}



/* table */

table.plans {width: 100%; max-width: 100%}

table.plans th {
	background-color: rgb(240,240,240);
	text-transform: uppercase;
	padding: 12px
}

table.plans th.product {width: 61%}

@media (max-width: 1199px) {table.plans th.product {width: 58%}}
@media (max-width: 991px) {table.plans th.product {width: 49%}}

table.plans td {padding: 10px}

table.plans td.subplan {
	padding-left: 24px;
	font-size: 16px
}

table.plans tr.shaded {background-color: rgb(248,248,248)}

/* code */

.highlight pre, pre, .highlight .hll {
	background-color: rgb(240,240,240);
	border-radius: 5px;
	border-width: 0px;
	font-size: 14px;
	padding: 15px 18px;
	margin: 18px 15px;
}

code {
	background-color: rgb(240,240,240);
	border-radius: 3px;
	font-size: 14px;
	padding: 5px;
	color: #333;
}

p {line-height: 1.45}

/* the big box */

.box {
	background-color: rgb(248,248,248);
	border-radius: 8px;
	float: left;
	width: 100%;
}

.box							{margin-bottom: 30px}
.box:last-of-type {margin-bottom: 0}
.box:first-of-type {margin-bottom: 30px} /* overwrite last of type if only one */

.box-header {
	text-transform: uppercase;
	background-color: rgb(240,240,240);
	border-radius: 8px 8px 0 0;
	padding: 12px 15px;
	font-weight: 400;
	font-size: 18px;
}

@media (min-width: 768px) {.box-text.half {float: left; width: 50%}}

.box-text {
	border-radius: 0 0 8px 8px;
	padding: 12px 15px;
}

.box-text ul {
	text-transform: uppercase;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

.box-text ul.nomarkup {text-transform: none; font-size: 18px}
.box-text ul.nomarkup li {list-style-type: inherit; margin-left: 30px}
.box-text ul.nomarkup li:after {display: none}

.box-text li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.box-text li:after {
	display: inline-block;
	color: #337ab7;
	margin: 0 5px;
	content: '❯';
}

.box-text li a {
    color: #337ab7;
}

.box-text li {
    margin: 12px 0 12px 15px;
}
.box a:hover, .box a:focus { text-decoration: none; }

.box-text img {
    float: left;
    margin: -12px 15px 0px -15px;
    border-radius: 0 0 0 8px;
    max-height: 100px;
}

/* form */

.main-form {margin: 0 auto; width: 90%}

.main-form-trick {display: none}

.main-form-group {margin-bottom: 15px}

.main-form-input {
	width: 100%;
  padding: 15px 12px;
	background-color: rgb(248,248,248);
  border: 2px solid rgb(240,240,240);
	border-radius: 7px;
	font-size: 18px
}

textarea.main-form-input {height: 200px}

select.main-form-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

main ::-webkit-input-placeholder {color: #333}
main ::-moz-placeholder {color: #333}
main :-moz-placeholder {color: #333}
main :-ms-input-placeholder {color: #333}

.help-inline {
	margin: 15px 0 0 15px;
	font-size: 18px
}






/* PRODUCT PAGE EXPERIMENTS */




.product h3 {
	font-size: 35px;
	font-weight: 300;
	margin-top: 0;
}

.card-container {}

.card-side {
	float: left;
	max-width: 400px;
	margin-top: 20px;
}

.card {
	padding: 35px 20px 55px 20px;
	margin-top: -20px;
  max-width: 700px;
}

.break {
	margin-bottom: 50px;
	padding-bottom: 35px;
}
.center {margin-left: auto; margin-right: auto}
.right {margin-left: auto}

.c1 {background-color: #9AD3DE}
.c2 {background-color: #89BDD3}
.c3 {background-color: #E3E3E3}
