
/* basic structure */

html, body {
	background-color: #3F435F; /* same color as header and footer */
	height: 100%; /* required to make footer look nice */
	padding: 0;
	margin: 0
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: "myriad-pro", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 18px
}

/* various responsive containers */

.container {padding: 0 15px; margin: 0 auto}

@media (min-width: 768px) {.container {width: 750px}}

@media (min-width: 992px) {
  .container				  {width: 970px}
	.container.narrow 	{width: 970px}
	.container.narrower {width: 750px}
}

@media (min-width: 1200px) {
  .container				  {width: 1170px}
	.container.narrow   {width: 970px}
	.container.narrower {width: 750px}
}

/* overwrite bootstrap defaults */

.row {margin: 0}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2,
.col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4,
.col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6,
.col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
.col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12,
.col-lg-12 {padding: 0}

/* text */

h1 a, h1 a:hover, h1 a:active, h1 a:focus,
h2 a, h2 a:hover, h2 a:active, h2 a:focus,
h3 a, h3 a:hover, h3 a:active, h3 a:focus,
h4 a, h4 a:hover, h4 a:active, h4 a:focus,
h5 a, h5 a:hover, h5 a:active, h5 a:focus,
h6 a, h6 a:hover, h6 a:active, h6 a:focus {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 50px;
	font-weight: 300;
	margin: 30px 0;
	padding: 0;
	letter-spacing: -2px;
}

h2 {
	font-size: 25px;
	font-weight: 400;
	margin: 30px 0 15px 0;
	padding: 0;
	letter-spacing: -1px;
}

h1:first-of-type, h2:first-of-type {margin-top: 0}

h1:first-of-type

p {margin: 15px 0}

/*pre, pre code {
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

@media (max-width: 1199px) {pre, pre code {white-space: initial}} hack to fix responsive design */

/* images */

main img {
	display: block;
	height: auto;
	max-width: 100%; /* responsive by default */
	margin-left: auto;
	margin-right: auto;
}

hr {
	border: 0;
	border-top: 1px solid #D2D4DB;
	margin: 30px 0 4px 0;
}

/* blog */

q {quotes: "“" "”" "‘" "’"}

q:before {content: open-quote}
q:after {content: close-quote}

#cookie-law {
	color: white;
	font-size: 15px;
	background-color: rgba(121,127,148,0.3);
	padding: 10px;
	margin: 0;
}

#cookie-law a, #cookie-law a:hover, #cookie-law a:active, #cookie-law a:focus {
	text-decoration: none;
	color: white;
}

/* call to action */

.cta-button {
	font-size: 15px;
  font-weight: 400;
  padding: 12px 15px;
  border: 1px solid transparent; /* overwrite defaults */
  border-radius: 30px;
  text-transform: uppercase;
	display: inline-block;
	user-select: none;
}

.cta-button.green {color: white; background-color: #5CB85C}
.cta-button.blue {color: white; background-color: #4C5371}

button:focus {outline:0} /* remove the outline */
