
/* toplogos - needs to be refactored soon */

.toplogos {
    background-color: #F5F5F5;
    text-transform: uppercase;
    color: #DDD;
    font-size: 15px;
    padding: 21px 0 13px 0;
    text-align: center;
}

.trust {margin-bottom: 9px}

.logotestb {
	display: inline-block;
	text-align: center;
	width: 225px;
	padding: 0 15px;
}

.logotestb img {height: 75px}

@media (max-width: 1199px) {.logotestb.a {display: none}}
@media (max-width: 991px) {
	.trust { display: none}
	.logotestb {width: 160px}
	.toplogos {padding: 13px 0 8px 0}
	.logotestb img {height: 50px}
}

@media (max-width: 767px) {
	.logotestb {width: 130px}
	.logotestb img {height: 38px}
}

@media (max-width: 560px) {.toplogos{display: none}}

/* topnav */

header ul {margin: 0} /* reset - important to get menu to look right */

header .brand, header .logo, header .name {float: left}
header nav {float: right}
header .hack {clear: both}

header .topnav {
	padding: 9px 15px;
	font-weight: 300;
	font-size: 0; /* because inline-block is used later on */
	color: #343434;
}

header .topnav a,
header .topnav a:hover,
header .topnav a:focus {
	text-decoration: none;
	color: #343434;
}

header .logo img {height: 47px}

/*header .name {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: 300;
	font-size: 36px;
	margin: -15px 0;
}*/

/*@media (max-width: 991px) {header .name {display: none}}*/

@media (min-width: 768px) {
	header .toggle {display: none} /* hide the menu toggle on larger screens */
}

header .collapse {display: none}
header .collapse.in {display: block}

.nav-collapse    {overflow-x: visible; -webkit-overflow-scrolling: touch}
.nav-collapse.in {overflow-y: auto}

@media (min-width: 768px) {.nav-collapse.collapse {display: block !important}}

header .nav-collapse {text-align: right} /* mobile menu */

header .nav-collapse li {
	display : inline-block;
  font-size: 15px;
	font-weight: 400;
}

@media (min-width: 992px) {header .nav-collapse li {margin-left: 4px}}
@media (min-width: 1200px) {header .nav-collapse li {margin-left: 8px}}

header .nav-collapse li a {
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 12px 15px;
	display: block; /* get correct behaviour with padding */
}

header .nav-collapse li a.button,
header .nav-collapse li.active a.button {
	background-color: #83C644;
	border: 1px solid #83C644;
	border-radius: 30px;
	font-weight: 400;
	color: white;
}

@media (max-width: 767px) {

	header .toggle {text-align: right} /* hack */

	header .toggle-menu {
		text-transform: uppercase;
		border: 1px solid #343434;
		color: #343434;
		background-color: white;
		padding: 12px 15px;
		border-radius: 30px;
		font-weight: 400;
	}

	header .toggle-menu:hover, */
	header .toggle-menu:focus {
		border: 1px solid transparent
	}

	header .nav-collapse li {
		list-style: none;
		position: relative;
		margin-right: 0;
		margin-top: 5px;
  	display: block;
	}

}

header .topnav.default {background: linear-gradient(125deg, #143666, #773793)}
header .topnav.default,
header .topnav.default a,
header .topnav.default a:hover,
header .topnav.default a:focus {color: white}

/* topbanner */

header .topbanner {
	background-color: #143666;
	background-image: -webkit-linear-gradient(125deg, #773793, #143666);
	background-image: -moz-linear-gradient(125deg, #773793, #143666);
	background-image: -ms-linear-gradient(125deg, #773793, #143666);
	background-image: -o-linear-gradient(125deg, #773793, #143666);
	background-image: linear-gradient(125deg, #143666, #773793);
	position: relative;
	color: white;
	clear: both;
}

header .topbanner .shape {
	background-color: white;
	opacity: 0.025;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

/* draw the shapes  */

header .topbanner .shape.a {
	-webkit-clip-path: polygon(0 0, 10% 0, 5% 100%, 0 100%);
	-moz-clip-path: polygon(0 0, 10% 0, 5% 100%, 0 100%);
	-ms-clip-path: polygon(0 0, 10% 0, 5% 100%, 0 100%);
	-o-clip-path: polygon(0 0, 10% 0, 5% 100%, 0 100%);
	clip-path: polygon(0 0, 10% 0, 5% 100%, 0 100%);
}

@media (max-width: 991px) {
	header .topbanner .shape.b {
		-webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
		-moz-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
		-ms-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
		-o-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
	}
}

@media (min-width: 992px) {
	header .topbanner .shape.b {
		-webkit-clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
		-moz-clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
		-ms-clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
		-o-clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
	}
}

header .topbanner .shape.c {
	-webkit-clip-path: polygon(95% 0, 100% 0, 100% 100%, 75% 100%);
	-moz-clip-path: polygon(95% 0, 100% 0, 100% 100%, 75% 100%);
	-ms-clip-path: polygon(95% 0, 100% 0, 100% 100%, 75% 100%);
	-o-clip-path: polygon(95% 0, 100% 0, 100% 100%, 75% 100%);
	clip-path: polygon(95% 0, 100% 0, 100% 100%, 75% 100%);
}

/* series 90-56-34-21-13-8 */

span.or {font-size: 15px}
span.iphone5 {margin-left: -3px} /* restore comma */

@media (max-width: 350px) {span.iphone5 {display: none}}

@media (max-width: 767px) {
	header .topbanner {padding: 34px 0 21px 0}
	header .topbanner .content h1 {margin: 0 0 13px 0; font-size: 45px}
	header .topbanner .content h2 {margin: 0 0 13px 0; font-size: 20px}
	span.or {padding: 0 8px}
}

@media (min-width: 768px) {
	header .topbanner {padding: 56px 0 34px 0}
	header .topbanner .content h1 {margin: 0 0 21px 0; font-size: 55px}
	header .topbanner .content h2 {margin: 0 0 13px 0; font-size: 22px}
	span.or {padding: 0 12px}
}

@media (min-width: 992px) {
	header .topbanner {padding: 90px 0 56px 0}
	header .topbanner .content h1 {margin: 0 0 34px 0; font-size: 65px}
	header .topbanner .content h2 {margin: 0 0 21px 0; font-size: 25px}
	span.or {padding: 0 12px}
}

/* hide the shapes on small screens */

@media (max-width: 1449px) {header .topbanner .shape.a {display: none}}
@media (max-width: 767px) {header .topbanner .shape.b {display: none}}
@media (max-width: 400px) {header .topbanner .shape.c {display: none}}

header .topbanner .content {position: relative; z-index: 1}

header .topbanner .content h1,
header .topbanner .content h2 {
	font-weight: 300;
}

header .topbanner .content h2 {
	letter-spacing: 0px;
	line-height: 1.45;
}

/* signup forms */

.request-trial {width: 600px}

@media (max-width: 767px) {.request-trial {width: 100%}}

.request-trial-trick {display: none}

.request-trial-group {margin-bottom: 15px}

.request-trial-input {
	width: 100%;
  padding: 9px 15px;
	background-color: rgba(121,127,148,0.3);
  border: 0px solid transparent;
	border-radius: 5px;
	font-size: 18px
}

select.request-trial-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

::-webkit-input-placeholder {color: white}
::-moz-placeholder {color: white}
:-moz-placeholder {color: white}
:-ms-input-placeholder {color: white}

.help-inline {
	margin: 15px 0 0 15px;
	font-size: 18px
}
