
/* main: basic structure */

main {padding: 0}

/* main: breadcrumb */

.breadcrumb {font-weight: 300; font-size: 15px; color: white}

.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:focus {text-decoration: none; color: white}

.breadcrumb {
	text-transform: uppercase;
	background-color: rgba(121,127,148,0.3);
  padding: 12px 0;
  margin: 0;
}

ol.cd-breadcrumb				{padding: 0; margin: 0}
ol.cd-breadcrumb:after	{display: table; clear: both}

ol.cd-breadcrumb li				{display: inline-block; margin: 0; float: left}
ol.cd-breadcrumb li::after	{display: inline-block; margin: 0 15px; content: '❯'}
ol.cd-breadcrumb li:last-of-type::after {display: none}

/* main: wrappers */

main .wrapper {background-color: white; padding: 45px 0}

main .wrapper.shaded {background-color: rgb(240,240,240)}
main .wrapper.bigger {padding-top: 60px}

/*  main: columns */

main .column {float: left}

@media (min-width: 1200px) {
	main .column.wide   {width: 74%; margin-right: 1%}
	main .column.narrow {width: 25%; margin-top: 15px}
}

@media (max-width: 1199px) {main .column.narrow {display: none}}

main .column.narrow {
	background-color: rgb(248,248,248);
	border-radius: 8px;
	font-size: 15px;
}

main .column.narrow > .header {
	background-color: rgb(240,240,240);
	text-transform: uppercase;
	padding: 12px 15px;
	font-weight: 400;
}

main .column.narrow > .header:first-of-type {border-radius: 8px 8px 0 0}
main .column.narrow > .text {padding: 12px 15px}

main .column.narrow ul {margin: 0; padding: 0}
main .column.narrow li {list-style: none; padding-bottom: 5px}
main .column.narrow li:last-of-type {padding-bottom: 0}

/* main: specific to blog */

.datebox,
.datebox > a,
.datebox > a:hover {
	color: #797F94;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.continue {text-align: center; margin-top: 15px}

.author			{margin: 30px 0}
.author.top {margin: 15px 0 30px 0}






/* TODO Homepage */

.users-logobox .logo {display: inline-block;}

.users-logobox .logo img {height: 100px; }

.users-mugshot {
	padding: 15px 15px 0 15px;
	float: left;
	width: 15%;
}

.users-oneliner {
	padding: 0 15px;
	float: left;
	width: 85%
}

.users-oneliner cite {
	font-size: 18px;
	font-weight: 400;
	padding-left: 30px;
}

.users-logobox {
	text-align: center;
	width: 100%;
}

/* table */

table.plans {width: 100%; max-width: 100%}

table.plans th {
	background-color: rgb(240,240,240);
	text-transform: uppercase;
	padding: 12px
}

table.plans th.product {width: 61%}

@media (max-width: 1199px) {table.plans th.product {width: 58%}}
@media (max-width: 991px) {table.plans th.product {width: 49%}}

table.plans td {padding: 10px}

table.plans td.subplan {
	padding-left: 24px;
	font-size: 16px
}

table.plans tr.shaded {background-color: rgb(248,248,248)}

/* code */

.highlight pre, pre, .highlight .hll {
	background-color: rgb(248,248,248);
	border-radius: 5px;
	border-width: 0px;
	font-size: 12px;
	padding: 12px 15px;
}

code {
	background-color: rgb(248,248,248);
	font-size: 15px;
	padding: 4px 3px;
	border-radius: 4px;
	color: #333;
}

p {line-height: 1.45}

.breadcrumb {
    border-radius: 0;
}

/* the big box */

.box {
	background-color: rgb(248,248,248);
	border-radius: 8px;
	float: left;
	width: 100%;
}

.box							{margin-bottom: 30px}
.box:last-of-type {margin-bottom: 0}
.box:first-of-type {margin-bottom: 30px} /* overwrite last of type if only one */

.box-header {
	text-transform: uppercase;
	background-color: rgb(240,240,240);
	border-radius: 8px 8px 0 0;
	padding: 12px 15px;
	font-weight: 400;
	font-size: 18px;
}

@media (min-width: 768px) {.box-text.half {float: left; width: 50%}}

.box-text {
	border-radius: 0 0 8px 8px;
	padding: 12px 15px;
}

.box-text ul {
	text-transform: uppercase;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

.box-text li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.box-text li:after {
	display: inline-block;
	color: #337ab7;
	margin: 0 5px;
	content: '❯';
}

.box-text li a {
    color: #337ab7;
}

.box-text li {
    margin: 12px 0 12px 15px;
}
.box a:hover, .box a:focus { text-decoration: none; }

.box-text img {
    float: left;
    margin: -12px 15px 0px -15px;
    border-radius: 0 0 0 8px;
    max-height: 100px;
}

/* form */

.main-form {margin: 0 auto; width: 90%}

.main-form-trick {display: none}

.main-form-group {margin-bottom: 15px}

.main-form-input {
	width: 100%;
  padding: 15px 12px;
	background-color: rgb(240,240,240);
  border: 1px solid rgb(200,200,200);
	border-radius: 5px;
	font-size: 18px
}

textarea.main-form-input {height: 200px}

select.main-form-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

main ::-webkit-input-placeholder {color: #333}
main ::-moz-placeholder {color: #333}
main :-moz-placeholder {color: #333}
main :-ms-input-placeholder {color: #333}

.help-inline {
	margin: 15px 0 0 15px;
	font-size: 18px
}
