
footer {color: white}

/* shared properties */

footer a,
footer a:hover,
footer a:focus {
	text-decoration: none;
	color: #AAA;
}

footer .bottom {padding: 54px 0 21px 0}

/* bottom banner */

footer .banner {background: #83C644}

/* bottom details */

footer .details {
	position: relative; /* required to make the shapes work */
	background: #303030;
	font-weight: 400;
	font-size: 16px;
}

/* bottom details: shapes */

footer .shape {
	position: absolute;
	background-color: white;
	opacity: 0.025;
	height: 100%;
	width: 100%;
	top: 0;
}

footer .shape.a {
	-webkit-clip-path: polygon(98% 0, 100% 0, 100% 100%, 85% 100%);
	-moz-clip-path: polygon(98% 0, 100% 0, 100% 100%, 85% 100%);
	-ms-clip-path: polygon(98% 0, 100% 0, 100% 100%, 85% 100%);
	-o-clip-path: polygon(98% 0, 100% 0, 100% 100%, 85% 100%);
	clip-path: polygon(98% 0, 100% 0, 100% 100%, 85% 100%);
}

footer .shape.b {
	-webkit-clip-path: polygon(99% 0, 100% 0, 100% 100%, 90% 100%);
	-moz-clip-path: polygon(99% 0, 100% 0, 100% 100%, 90% 100%);
	-ms-clip-path: polygon(99% 0, 100% 0, 100% 100%, 90% 100%);
	-o-clip-path: polygon(99% 0, 100% 0, 100% 100%, 90% 100%);
	clip-path: polygon(99% 0, 100% 0, 100% 100%, 90% 100%);
}

@media (max-width: 991px) {footer .shape {display: none}}

/* bottom details: subscribe to our mailinglist */

footer .mailchimp {margin-bottom: 34px}

footer .subscribe {
	margin-top: 8px;
	font-size: 0; /* trick to remove blank spaces */
}

footer input {
	font-size: 16px; /* set font-size again (trick to remove blank spaces) */
	border: none;
}

footer input:focus {outline:none} /* drop the blue outline */

footer input::-webkit-input-placeholder {color: #AAA} /* set the placeholder text colour */
footer input::-moz-placeholder {color: #AAA}
footer input:-moz-placeholder {color: #AAA} /* works in FF 18 */
footer input:-ms-input-placeholder {color: #AAA}

footer input.email {
  background: #484848;
	padding: 8px 13px;
	width: 300px;
	color: #AAA;
}

footer input.button {
	background: #67AE24;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	text-transform: uppercase;
	padding: 8px 13px 8px 8px;
	color: white;
}

@media (max-width: 450px) {footer input.email {width: 250px}}
@media (max-width: 400px) {footer input.email {width: 180px}}

/* bottom details: navigation */

footer .navigation {margin-bottom: 34px}

footer .list {float: left; width: 180px}

footer h2 {
	margin: 0 0 8px 0;
	text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
	font-size: 16px;
}

footer ul, footer li {padding: 0; margin: 0}

footer li {
	list-style: none;
	color: #AAA;
}

address {margin: 0} /* undo bootstrap */

/* bottom details: social */

footer .social {
	margin-bottom: 21px;
	text-align: center;
}

footer .social img {
	margin: 0 4px;
	height: 40px;
}

/* bottom details: do not steal */

footer .notice {
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	color: #AAA;
}
