<footer>
  <div class="container">
    <hr>
    <div class="about">
      <h6>Company</h6>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/about/team/">Team</a></li>
        <li><a href="/partners/">Partners</a></li>
        <li><a href="/about/jobs/">Jobs</a></li>
      </ul>
    </div>
    <div class="contact">
      <h6>&nbsp;</h6>
      <div class="contact address">
        <address>
          <strong>Snowplow Analytics Limited</strong><br />
          The Roma Building, 32-38 Scrutton Street<br />
          London EC2A 4RQ<br />
          United Kingdom
        </address>
      </div>
      <div class="contact phone">
        <ul>
          <li>Phone: <a href="tel:+442035896116">+44 (0) 203 589 6116</a></li>
          <li>Email: <a href="mailto:contact@snowplowanalytics.com">contact@snowplowanalytics.com</a></li>
          <li>Twitter: <a href="http://twitter.com/snowplowdata">@snowplowdata</a></li>
        </ul>
      </div>
    </div>
    <div class="notice">Copyright &copy; 2012-{{ site.time | date: '%Y' }} Snowplow Analytics Ltd. All rights reserved. <a href="/privacy">Privacy policy</a>.</div>
  </div>
</footer>
