<footer>
  <!--<div class="bottom banner">
    <div class="container">
      ...
    </div>
  </div>-->
  <div class="bottom details">
    <div class="shape a"></div>
    <div class="shape b"></div>
    <div class="mailchimp">
      <div class="container">
        Sign up to our mailinglist<span class="hide400px"> to be notified of new releases</span><span class="hide550px"> and related news</span>.
        {% include mailchimp/mailchimp.html %}
      </div>
    </div>
    <div class="navigation">
      <div class="container">
        <div class="list">
          <h2>Product</h2>
          <ul>
            <li><a href="/product" id="bottom-product-snowplow">Snowplow</a></li>
            <li><a href="/services" id="bottom-product-services">Services</a></li>
            <li><a href="/partners" id="bottom-product-partners">Partners</a></li>
            <li><a href="/product/users" id="bottom-product-users">Users</a></li>
          </ul>
        </div>
        <div class="list">
          <h2>Resources</h2>
          <ul>
            <li><a href="http://discourse.snowplowanalytics.com" id="bottom-resources-discourse">Discourse</a></li>
            <li><a href="/support" id="bottom-resources-support">Support</a></li>
          </ul>
        </div>
        <div class="list">
          <h2>Company</h2>
          <ul>
            <li><a href="/about" id="bottom-company-about">About</a></li>
            <li><a href="/about/team" id="bottom-company-team">Team</a></li>
            <li><a href="/about/jobs" id="bottom-company-jobs">Jobs</a></li>
            <li><a href="/blog" id="bottom-company-blog">Blog</a></li>
          </ul>
        </div>
        <div class="list">
          <h2>Contact us</h2>
          <ul>
            <li><a href="mailto:contact@snowplowanalytics.com" id="bottom-contact-email">contact@snowplowanalytics.com</a></li>
            <li style="margin-top: 4px">The Roma Building,<br>32-38 Scrutton Street<br>EC2A 4RQ London, UK</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="social">
      <div class="container">
        <a href="https://twitter.com/snowplowdata" id="bottom-social-twitter"><img src="{{ BASE_PATH }}/assets/img/social/twitter.png"></a>
        <a href="https://linkedin.com/company/snowplow-analytics-ltd" id="bottom-social-linkedin"><img src="{{ BASE_PATH }}/assets/img/social/linkedin.png"></a>
        <!--<a href="" id="bottom-social-facebook"><img src="{{ BASE_PATH }}/assets/img/social/facebook.png"></a>-->
        <!--<a href="" id="bottom-social-google"><img src="{{ BASE_PATH }}/assets/img/social/google.png"></a>-->
        <!--<a href="" id="bottom-social-tube"><img src="{{ BASE_PATH }}/assets/img/social/tube.png"></a>-->
        <!--<a href="" id="bottom-social-vimeo"><img src="{{ BASE_PATH }}/assets/img/social/vimeo.png"></a>-->
        <!--<a href="" id="bottom-social-amazon"><img src="{{ BASE_PATH }}/assets/img/social/amazon.png"></a>-->
        <a href="/atom.xml" id="bottom-social-rss"><img src="{{ BASE_PATH }}/assets/img/social/rss.png"></a>
      </div>
    </div>
    <div class="notice">
      <div class="container">
        <span class="hide400px">Copyright </span>&copy; <span class="hide400px">2012-</span>{{ site.time | date: '%Y' }} Snowplow Analytics, Ltd. <a href="/privacy" id="bottom-notice">Privacy policy</a>.
      </div>
    </div>
  </div>
</footer>
