<footer>
  <div class="bottom mail">
    <div class="container">
      Sign up to our mailinglist to be notified of new releases and related news.
      <div id="mc_embed_signup" class="subscribe">
        <form action="//snowplowanalytics.us11.list-manage.com/subscribe/post?u=10bb4a6f31d5f19e0d0b54476&amp;id=bb28c7d30d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_10bb4a6f31d5f19e0d0b54476_bb28c7d30d" tabindex="-1" value=""></div><!-- hidden for humans -->
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom links">
    <div class="container">
      <div class="list">
        <h2>Product</h2>
        <ul>
          <li><a href="/product">Snowplow</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/product/users">Users</a></li>
        </ul>
      </div>
      <div class="list">
        <h2>Resources</h2>
        <ul>
          <li><a href="http://discourse.snowplowanalytics.com/">Discourse</a></li>
          <!--<li>Learn X</li>
          <li>Learn Y</li>
          <li>Learn Z</li>-->
          <li><a href="/support">Support</a></li>
        </ul>
      </div>
      <div class="list">
        <h2>Company</h2>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/about/team">Team</a></li>
          <li><a href="/about/jobs">Jobs</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
      <div class="list">
        <h2>Contact us</h2>
        <ul>
          <li><a href="mailto:contact@snowplowanalytics.com">contact@snowplowanalytics.com</a></li>
          <li style="margin-top: 8px">The Roma Building,<br>32-38 Scrutton Street<br>EC2A 4RQ London, UK</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom notice">
    <div class="container">
      <span>Copyright &copy; 2012-{{ site.time | date: '%Y' }} Snowplow Analytics, Ltd.</span>
      <span><a href="/privacy">Privacy policy</a>.</span>
    </div>
  </div>
</footer>

    <!--<div class="about">
      <h6>Company</h6>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/about/team/">Team</a></li>
        <li><a href="/partners/">Partners</a></li>
        <li><a href="/about/jobs/">Jobs</a></li>
      </ul>
    </div>
    <div class="contact">
