<header>

  <div class="menu">
    <div class="container">
      <div class="brand" role="banner"><div class="logo"><a href="{{ HOME_PATH }}"><img src="{{ BASE_PATH }}/assets/img/design/logo-white.png"></a></div>&nbsp;<div class="name"><a href="{{ HOME_PATH }}">Snowplow</a></div></div>
      <nav role="navigation">
        <div class="toggle"><button type="button" class="toggle-menu" data-toggle="collapse" data-target="#nav-collapse">Menu</button></div>
        <div class="nav-collapse collapse" id="nav-collapse">
          <ul>
            <li{% if page.group == 'product' %} class="active"{% endif %}><a href="/product" class="without-border">Product</a></li>
            <li{% if page.group == 'technology' %} class="active"{% endif %}><a href="/technology" class="without-border">Technology</a></li>
            <li{% if page.group == 'documentation' %} class="active"{% endif %}><a href="/documentation" class="without-border">Documentation</a></li>
            <li{% if page.url contains 'blog' %} class="active"{% endif %}><a href="/blog" class="without-border">Blog</a></li>
            <li{% if page.group == 'get-started' %} class="active"{% endif %}><a href="/get-started" class="with-border">Get started</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

{% if page.header == 'homepage' %}{% include headers/homepage.html %}
{% elsif page.header == 'pricing' %}{% include headers/pricing.html %}
{% elsif page.header == 'batch' %}{% include headers/batch.html %}
{% elsif page.header == 'real-time' %}{% include headers/real-time.html %}
{% endif %}

</header>
