/* Updates to the default Bootstrap theme that are Snowplow-specific */
h1{font-size:24px;}
h2{font-size:20px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
h1 small{font-size:20px;}
h2 small{font-size:18px;}
h3 small{font-size:16px;}
h4 small{font-size:14px;}