header
{
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999; // .bring-to-front is 999
	position: fixed;
	padding: 15px 70px;
	transition:background .3s;

	.container-fluid
	{
		padding:0;
	}

	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand
	{
		margin: 0;
		color: $white;
		line-height: 0;
		padding: 27px 0;
		overflow: hidden;
		transition: all .3s;

		i
		{
			line-height: 0;
			font-size: 180px;
		}
	}

	#menu-center
	{
		float:none;
		display: inline-block;

		.dropdown-menu
		{
			left:0;
			right:0;
			border:0;
			top:65px;
			opacity:0;
			display:block;
			border-radius:0;
			box-shadow:none;
			visibility: hidden;
			text-align: center;
			background: $white;
		    padding: 25px 0 0 0;
		    transform:translateY(-30px);

			&:before
			{
				content: '';
				display: block;
				border-top: 1px solid #f5f5f5;
			}

			&:after
			{
				content: '';
				display: block;
				border-bottom: 1px solid #f5f5f5;
			}

			>li
			{
				display:inline-block;

				> a
				{
					padding: 0 16px;
					line-height: 60px;
					transition: color .3s;
					position: relative;
					transition:all .3s;
				}
			}

			>.active
			{
				> a,
				>a:hover,
				>a:focus
				{
					color:#e0e6ef;
					background:none;
				}
			}
		}

		.dropdown
		{
			&:hover,
			&:focus
			{
				.dropdown-menu
				{
					opacity:1;
					visibility: visible;
		    		transform:translateY(0);

					
				}
			}
		}
	}

	.navbar,
	.navbar-default
	{
		position: static;

		.nav
		{
			>li
			{
				position: static;
			}
		}

		.navbar-nav
		{
			>li
			{
				>a:not(.btn)
				{
					color: $white;
					line-height: .7em;

					&:after
					{
						width:0;
						content:'';
						height: 1px;
						display: block;
						margin-top: 7px;
						background-color: $white;
						transition: all .4s;
					}

					i
					{
						line-height: .7em;
					}
				}

				&:hover,
				&.active
				{
					> a
					{
						&:after
						{
							width: 100%;
						}
					}
				}
			}

			.btn
			{
				color: $white;
				min-width:150px;

				&:hover,
				&:focus
				{
					background: $white;
					color: $brand-primary;
				}
			}
		}
	}



	body.scrolled &,
	&:hover
	{
		background: $white;
		transition:background .3s;

		.navbar,
		.navbar-default
		{
			> .container,
			> .container-fluid
			{
				.navbar-brand
				{
					color: $gray-base;
				}
			}

			.navbar-nav
			{
				>li
				{
					>a:not(.btn)
					{
						color: $gray-base;

						.dropdown-menu
						{
							> li
							{
								> a
								{
									color: $gray-base;
								}
							}
						}
					}

					&:hover,
					&.active
					{
						> a
						{
							&:after
							{
								width:100%;
								background-color: $brand-primary;
							}
						}
					}
				}
			}
		}
	}
}